:root {
  --accent-color: #03b3ff;
  --background-color: #f2f2f2;
  --primary-color: #fff;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

body {
  background: rgb(188, 210, 255);
  background: radial-gradient(circle,
      rgba(188, 210, 255, 1) 0%,
      rgba(255, 255, 255, 1) 100%);
}