.chat-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 20px;
    max-width: 870px;
}

.chat-messages {
    flex-grow: 1;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.message {
    display: flex;
    justify-content: flex-end;
    margin: 10px 0;
    max-width: 100%;
}

.message-bubble {
    margin-bottom: 10px;
    padding: 10px 15px;
    border-radius: 20px;
    max-width: 60%;
    overflow-wrap: break-word;
}

.sent .message-bubble {
    background-color: var(--accent-color);
    border-bottom-right-radius: 0;
    order: 1;
}

.received .message-bubble {
    background-color: #ececec;
    border-bottom-left-radius: 0;
    order: 2;
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-left: 10px;
    align-self: flex-end;
    order: 2;
}

.sent .avatar {
    order: 3;
}

.chat-input {
    display: flex;
    margin-top: 10px;
}

.chat-input input {
    flex-grow: 1;
    margin-right: 10px;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid #ccc;
}

.chat-input button {
    padding: 10px 20px;
    border-radius: 20px;
    background-color: var(--accent-color);
    color: white;
    border: none;
    cursor: pointer;
}