body {
    background-color: var(--background-color);
}

.messenger-window {
    background-color: var(--primary-color);
    border-radius: 20px;
    margin-top: 150px;
    min-height: 720px;
    display: flex;
}

.messenger-sidebar {
    margin-left: 40px;
    padding-top: 10px;
    max-width: 300px;
    height: 720px;
    border-right: 5px var(--accent-color) solid;
    padding-right: 10px;
}

.messenger-sidebar__profile {
    margin-top: 20px;
    display: flex;
    align-items: center;
}

.side-profile__nickname {
    margin: 0 20px;
}

.profile-avatar {
    width: 50px;
    height: 50px;
    cursor: pointer;
    transition: 0.5s;
}

.profile-avatar.online {
    border: 3px solid rgb(128, 212, 128);
    border-radius: 50%;
}

.profile-avatar.away {
    border: 3px solid rgb(255, 196, 0);
    border-radius: 50%;
}

.profile-avatar.offline {
    border: 3px solid red;
    border-radius: 50%;
}

.side-profile__options {
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background-color: white;
    border: 1px solid gray;
    cursor: pointer;
    transition: 0.5s;
}

.side-profile__options:hover {
    background-color: var(--background-color);
}

.horizontal-line {
    height: 1px;
    background-color: gray;
}

.messenger-sidebar__searchline input {
    margin-top: 20px;
    background-image: url();
    background-repeat: no-repeat;
    background-position: 8px;
    background-size: auto 90%;
    border-radius: 20px;
    padding-left: 10px;
    width: 250px;
    height: 30px;
    margin-bottom: 20px;
}

.messenger-sidebar__contacts {
    margin-top: 10px;
}

.sidebar-contacts__item {
    align-items: center;
    height: 75px;
    display: flex;
    transition: 0.2s;
}

.sidebar-contacts__item:hover {
    cursor: pointer;
    background-color: var(--background-color);
}

.item-avatar {
    margin-left: 10px;
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.sidebar-modal__changestatus {
    margin-left: 55px;
    display: flex;
    flex-direction: column;
    position: absolute;
}

.sidebar-modal__changestatus button {
    margin-bottom: 2px;
    background-color: white;
    border: 1px solid gray;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.5s;
    width: 100px;
    height: 20px;
}

.sidebar-modal__changestatus button:nth-child(1):hover {
    background-color: rgb(189, 240, 189);
}

.sidebar-modal__changestatus button:nth-child(2):hover {
    background-color: rgb(255, 227, 137);
}

.sidebar-modal__changestatus button:nth-child(3):hover {
    background-color: rgb(255, 170, 170)
}

.sidebar-modal__options {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: -35px;
    right: -95px;
    z-index: 2;
}

.sidebar-modal__options button {
    margin-bottom: 2px;
    background-color: white;
    border: 1px solid gray;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.5s;
    width: 100px;
    height: 40px;
}

.sidebar-modal__options button:hover {
    background-color: var(--background-color);
}

.options-button-wrapper {
    position: relative;
    display: block;
    width: 30px;
}

.sidebar-modal__avatars {
    width: 213px;
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    z-index: 2;
    right: -90px;
}

.sidebar-modal__avatars button {
    background-color: white;
    border: 1px solid gray;
    cursor: pointer;
}

.sidebar-modal__avatars button:hover {
    background-color: var(--background-color);
}

.sidebar-modal__avatars img {
    max-width: 64px;
    max-height: 64px;
}